<?xml version="1.0" encoding="UTF-8"?>

<!-- armadillo2 top-level launch -->

<launch>
    
    <!--common settings-->
    <arg name="gazebo" default="true" doc="execute armadillo2 inside gazebo sim"/>
    <arg name="world_name" default="worlds/empty.world"/> 
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="Y" default="0.0" />
    <arg name="moveit" default="false"/>
    <arg name="softkinetic" default="false"/>
    <arg name="kinect" default="true"/>
    <arg name="lidar" default="true"/>
    <arg name="gmapping" default="false"/>
    <arg name="hector_slam" default="false"/>
    <arg name="amcl" default="true"/>
    <arg name="have_map" default="true" doc="$(find navigation_margal)/maps/sim_floor2.pgm.pgm"/>
    <arg name="map" default="testgazebo2map.yaml" doc="$(find navigation_margal)/maps/sim_floor2.pgm.yaml"/>
    <arg name="move_base" default="true"/>
    <arg name="robot_localization" default="false"/>
    <arg name="pointcloud_to_laserscan" default="true"/>	
    <arg name="teleop" default="false" doc="allow armadillo2 joy teleop"/>

    <!--uncommon settings-->
    <arg name="center_pan_tilt" default="true" doc="centers head on startup"/>
    <arg name="joy_dev" default="/dev/input/js0"/>
    <arg name="joy_profile" default="xbox"/>
    <arg name="twist_mux" default="true"/>
    <arg name="tele_arm" default="false" doc="allow armadillo2 arm joy teleop. set teleop:=true, moveit:=true"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
    
    <node name="armadillo2_services_node" pkg="armadillo2_services" type="armadillo2_services_node" respawn="false" output="screen">
        <param name="center_head" value="$(arg center_pan_tilt)" />
    </node>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
    <!-- See all params at http://wiki.ros.org/pointcloud_to_laserscan --> 
    <!-- Min and max height to sample from depth data - these values worked for my drone -->
 
    <!-- Min and max range range of generated laser scan - set this to match your depth sensor -->
    
    <!-- Frame of your depth sensor -->
    <param name="target_frame" value="camera_link"/>

    <!-- Topic from which to read PointCloud2 -->
    <remap from="cloud_in" to="/kinect2_depth_optical_frame"/>
    
    <!-- Topic to which LaserScan will be published -->
    <remap from="scan" to="/scan"/>

  </node>

    <include file="$(find espeak_ros)/launch/espeak_ros.launch" />
    
    <group if="$(arg teleop)" >
        <include file="$(find armadillo2_teleop)/launch/armadillo2_teleop.launch">
            <arg name="joy_dev" value="$(arg joy_dev)"/>
            <arg name="joy_profile" value="$(arg joy_profile)"/>
            <arg name="tele_arm" value="$(arg tele_arm)"/>
        </include>
    </group>
    
    <group if="$(arg have_map)">
        <node name="map_server" pkg="map_server" type="map_server" args="$(find navigation_margal)/maps/sim_floor2.pgm.yaml" />
    </group>

    <!--if no one publish map-odom tf, load static tf-->
    <group unless="$(arg gmapping)">
        <group unless="$(arg hector_slam)">
            <group unless="$(arg amcl)">           
          	  <group unless="$(arg robot_localization)">  
                     <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 20" /> 
		</group>   
            </group>   
        </group>    
    </group>
    
    <!--load simulation stuff-->
    <group if="$(arg gazebo)">
         <env name="GAZEBO_MODEL_PATH" value="$(find armadillo2_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>
         <param name="robot_description" command="$(find xacro)/xacro '$(find armadillo2_description)/urdf/armadillo2_gazebo.xacro' --inorder 
                kinect2:=$(arg kinect)
                kinect2_hz:=30.0
                kinect2_hd:=false
                kinect2_qhd:=true
                urf:=true
                imu:=true
                gps:=true
                lidar:=true
                softkinetic:=$(arg softkinetic)" />
        
        <include file="$(find armadillo2_control)/launch/armadillo2_gazebo_controllers.launch" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">	    
              <arg name="world_name" value="$(find elevator)/worlds/elevator.world"/>
	      <arg name="gui" value="true"/>	     
	</include>

        <node name="armadillo2_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model armadillo2 -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg Y)" />
    </group>
    
    <!--load hardware stuff-->
    <group unless="$(arg gazebo)">
        <param name="robot_description" command="$(find xacro)/xacro '$(find armadillo2_description)/urdf/armadillo2.xacro' --inorder" />
        <include file="$(find armadillo2_hw)/launch/armadillo2_hw.launch" />
        
        <include file="$(find armadillo2_control)/launch/armadillo2_hw_controllers.launch" />
        
        <group if="$(arg softkinetic)">
            <include file="$(find softkinetic_camera)/launch/softkinetic_camera_ds325.launch" />
        </group>
    
        <group if="$(arg kinect)">
            <include file="$(find navigation_margal)/launch/kinect2_bridge.launch" />
        </group>
                
        <group if="$(arg lidar)">
            <include file="$(find lidar_urg_node)/launch/lidar.launch" />
        </group>
    </group>
    
    <group if="$(arg twist_mux)">
        <include file="$(find ros_twist_mux)/launch/twist_mux.launch" />
    </group>
    
   
    <group if="$(arg gmapping)">
        <include file="$(find navigation_margal)/launch/gmapping.launch" />
    </group>
    
    <group if="$(arg hector_slam)">
        <include file="$(find navigation_margal)/launch/hector_slam.launch" />
    </group>

        <group if="$(arg robot_localization)">
        <include file="$(find navigation_margal)/launch/robot_localization.launch" />
    </group>

    <group if="$(arg amcl)">
        <include file="$(find navigation_margal)/launch/amcl.launch" >
            <arg name="x" value="$(arg x)"/>
            <arg name="y" value="$(arg y)"/>
            <arg name="Y" value="$(arg Y)"/>
	</include>
    </group>
    
    <group if="$(arg moveit)">
        <include file="$(find armadillo2_moveit_config)/launch/move_group.launch" />
    </group>
    
    
    <group if="$(arg move_base)">
        <include file="$(find navigation_margal)/launch/move_base.launch" />
        <rosparam file="$(find navigation_margal)/config/move_base_params.yaml" command="load" ns="move_base"/>
        <rosparam file="$(find navigation_margal)/config/costmap_common_params.yaml" command="load" ns="move_base/global_costmap" />
        <rosparam file="$(find navigation_margal)/config/costmap_common_params.yaml" command="load" ns="move_base/local_costmap" />
        <rosparam file="$(find navigation_margal)/config/local_costmap_params.yaml" command="load" ns="move_base/local_costmap" />
        <rosparam file="$(find navigation_margal)/config/global_costmap_params.yaml" command="load" ns="move_base/global_costmap"/>
    </group>
    
</launch>
